@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap');

:root{
    --font-primary: 'Manrope', sans-serif;
    --font-secondary: 'Bebas Neue', sans-serif;
}


input{
    font-family: var(--font-primary);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: var(--font-primary);
    height:100%;
}