@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Manrope:wght@200..800&display=swap');

:root{
    --font-primary: 'Manrope', sans-serif;
    --font-secondary: 'Bebas Neue', sans-serif;
    --color-primary: #7A003C;
    --color-primary-light: #B3005E;
    --color-secondary: #FDBF57;
    --color-secondary-dark: #E89E34;
    cursor: default;
}


input{
    font-family: var(--font-primary);
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    font-family: var(--font-primary);
    height:100%;
}